@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html, body {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 10vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 300;
    font-size: large;
    text-transform: uppercase;
    padding: 0 2em;
}

.logo {
    padding: 0.4em 0.8em;
}

.hamburger {
    padding: 0.4em 0.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 900px) {
    .dummy-info {
        display: none;
    }
}

.spline {
    position: absolute;
    top: 10vh;
    width: 40%;
    height: 90vh;
    z-index: 0;
}

.hero-section {
  width: 100%;
  height: 90vh;
  border-radius: 1em 1em 0 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;;
  overflow: hidden;
  background: #AFDBF5;
  flex-direction: column;
  gap: 25px;
}

.card {
  width: 100%;
  height: 90vh;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card > .blob {
  position: absolute;
  background: #85def2;
  height: 25%;
  width: 12.5%;
  filter: blur(15px);
  opacity: 0.6;
  border-radius: 100%;
  z-index: 0;
}

.copy {
  position: absolute;
  z-index: 0;
  text-align: center;
  padding: 2em;
  color: inherit;
  padding-left: 15em; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



@media (max-width: 1200px) {
    .spline {
        display: none;
    }
    .hero-section {
        padding-left: 0em;
    }
    .copy {
        padding-left: 0em;
    }
}


.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1 {
    font-size: 11vw;
    letter-spacing: -4px;
}

.p {
    margin-top: 1em;
    font-size: 15vw;
}



.row-1 {
    font-family: 'Bebas Neue', cursive;
}

.row-2,  .row-3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.row-1 {
    align-items: flex-start;
    
}

.row-1 .p {
    text-transform: uppercase;
    padding: 0 2em;
    font-size: 24px;
    

}

.row-2 {
    padding-left: 5em;
}

.row-3 {
    padding-left: 4em;
}

.span {
    width: 450px;
    font-size: 20px;
    padding: 0 2em;
    padding-top: 2em;
    font-family: "Dongle", sans-serif;
    font-size: 30px;
    font-style: normal;

}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .row-1 {
        flex-direction: column-reverse;
    }

    .h1 {
        font-size: 15vw;
        padding-left: 20px;
    }
    .span {
        width: 80vw;
        font-size: 20px;
    }
}

.pre-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 2vw;
}

.content span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.text {
    margin-bottom: 1em;
}

.loader {
    width: 450px;
    height: 2px;
    background: skyblue;
}

@media (max-width: 900px) {
    .content {
        font-size: 5vw;
    }

    .loader {
        width: 80vw;
    }
}

